		* {
			box-sizing: border-box;

		} 

		h1{
			margin-bottom: 10px;
			font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
			text-align: center;
		}

		div>div{
			border: 1px solid black;
			width: 90%;
			background: #DBD9D9;
			margin-right: auto;
  			margin-left: auto;
  			margin-top: 3px;
			padding: 0px 0px 5px 5px;
			font-size: 125%;
			
		}

		.name{
			padding-top: 0;
			float: right;
			margin-top: 0;
			text-align: center;
			width: 120px;
			border: 1px solid black;
			font-size: 175%;
		}
		
		*.row {
		 	width: 100%;
		}

		@media (min-width: 992px){
			.col-lg-1, .col-lg-2, .col-lg-3 {
    			float: left;
    			
   			}
			.col-lg-1 {
			  width: 33%;
			}
			.col-lg-2 {
			  width: 45%;
			}
			.col-lg-3 {
			  width: 100%;
			}

		}

		@media (min-width: 768px) and (max-width: 991px){
			  .col-md-1, .col-md-2, .col-md-3 {
			  	float: left;

			  }
			  .col-md-1 {
			    width: 30%;
			  }
			  .col-md-2 {
			    width: 50%;
			  }
			  .col-md-3 {
			    width: 100%;
			  }
		}

		@media (max-width: 767px){

		}
